/*.leadership-active__position {
    margin-bottom: 20px;
}

.modal-open .wrapper {
    z-index: unset;
}

.event-detail__info {
    width: 100%;
}

.modal {
    z-index: 9999999;
}

.library-content p {
    margin: revert !important;
}

.library-content.course_inner p {
    margin: unset !important;
}

.content table td {
    width: unset !important;
}

._partner .leadership-info__fio {
    padding-right: 80px;
}

.maps .available path {
    fill: #cfe5e5;
    stroke: var(--uz-stroke);
    stroke-width: 3;
    cursor: pointer;
    transition: fill .2s ease, stroke .2s ease, transform .15s;
}

.map-wrapper [class^="map-UZ-"] {
    display: none;
}

.map-wrapper [class^="map-UZ-"].active {
    display: block;
}


/*.header-search {
    text-align: right;
    height: 0;

}*/

/*.header-search i {
    font-size: 24px;
    color: #fff;
    cursor: pointer
}

.header-search-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, .4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    z-index: 99;
}

.header-search-wrapper.active {      
    visibility: visible;
    opacity: 1
}

.header-search-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    height: 70px;
    padding: 4px 4px 4px 20px;
    border-radius: 8px;
    cursor: pointer
}

.header-search-input i {
    color: #088868;
    font-size: 24px;
    margin-right: 16px
}

.header-search-input input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: 0;
    color: #011a12;
    font-size: 19px;
    font-weight: 400;
    line-height: 140%;
    height: 100%
}

.header-search-input input::-webkit-input-placeholder {
    color: rgba(1, 26, 18, .6)
}

.header-search-input input::-moz-placeholder {
    color: rgba(1, 26, 18, .6)
}

.header-search-input input:-ms-input-placeholder {
    color: rgba(1, 26, 18, .6)
}

.header-search-input input::-ms-input-placeholder {
    color: rgba(1, 26, 18, .6)
}

.header-search-input input::placeholder {
    color: rgba(1, 26, 18, .6)
}

.header-search-input button {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #25575a;
    border: 1px solid #25575a;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-size: 24px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: 0
}

.page-switch {
    display: flex;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background: #EAECF2;
    width: fit-content;
    padding: 4px !important;
    margin-bottom: 20px;
}
.page-switch .tab.active {
    color: #25575a;
    font-weight: 600;
    background: #DEE1EB;
}

.page-switch .tab {
    width: fit-content;
    border-radius: 10px;
    padding: 8px 12px;
    border: none;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.3;
    color: var(--black3);
    display: flex;
    justify-content: center;
    transition: color .3s
    ease;
    text-align: center;
}*/

.map-info {
    display: none;
}

.map-info.active {
    display: block;
}

.mapBox {
    position: relative;
}

.__ymDebugger.__ym_wv_ign {
    display: none;
}

.faq-item .answer {
    overflow: auto !important;
}